# Compilação e Build
out/
bin/
target/
*.class

# Maven
.mvn/wrapper/maven-wrapper.jar

# Artefatos de execução dos jobs
*.processed

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Logs e Temporários
*.log
tmp/

# Arquivos do Sistema
.DS_Store
Thumbs.db
desktop.ini